header {
  background-color: aqua;
  margin-top: 0px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 162, 187, 0.9416141456582633) 11%,
    rgba(103, 181, 60, 0.9724264705882353) 42%,
    rgba(121, 9, 9, 1) 65%,
    rgba(158, 7, 109, 1) 92%,
    rgba(2, 161, 221, 1) 98%
  );
  border-bottom: black solid 5px;
  box-shadow: 5px 10px 5px;
  font-family: 'Architects Daughter', cursive;
  font-size: 2rem;
}
