.App {
  display: flex;
  flex-direction: row;
  padding: 100px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 162, 187, 0.9416141456582633) 11%,
    rgba(62, 121, 9, 1) 19%,
    rgba(103, 181, 60, 0.9724264705882353) 23%,
    rgba(158, 7, 109, 1) 31%,
    rgba(42, 2, 221, 1) 46%,
    rgba(120, 128, 75, 1) 60%,
    rgba(120, 128, 75, 1) 72%,
    rgba(128, 75, 112, 1) 96%
  );
  font-family: 'Architects Daughter', cursive;
  font-size: 2rem;
}
